<article class="node-detail">
<header><h1>@|tag-name|</h1>
This tag has the following documents:</header>
<section>
<ul>
@in[doc document-list]{ 
					<li><a href="/document/@(cdr doc)">@(car doc)</a></li>
				}
</ul>
</section>
</article>